<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member"> <!-- 그룹 이름 -->
<!-- 컬럼명과 객체의 프로퍼티 명을 연결한다.
연결 정보(MemberMap)에 따라서 멤버 객체를 만들어서 set id 에다가 호출해서 저장하라는 의미
resultMap -> 태그로 정의한 식별자(id="MemberMap")를 의미함 -->
  <resultMap type="Member" id="MemberMap">
    <id column="mid" property="id"/>
    <result column="email" property="email"/>
    <result column="pwd" property="password"/>
  </resultMap>
  

  <!-- <select id="selectList" resultType="member"> -->
  <!-- 소문자도 됨 member -->
  <!-- 하지만 대문자로 하는게좋다 <select id="selectList" resultType="Member">  -->
  <select id="selectList" resultMap="MemberMap"
  parameterType="map">
    select mid, email from pms2_member
    <if test="startIndex != null and pageSize != null">
    limit #{startIndex}, #{pageSize}
    </if>
  </select>
  
    <select id="selectOne"
    resultMap="MemberMap"
    parameterType="string">
    select mid,email from pms2_member where mid=#{value}
  </select>
  
  <update id="update" parameterType="Member"> 
  <!-- 기본데이터타입(int...등) 일경우 리졸트타입 안써도됨-->
  update pms2_member set
     email=#{email}, 
     pwd=password(#{password}) where mid=#{id}
  </update>
  
  <delete id="delete" parameterType="string">
  delete from pms2_member where mid=#{value}
  </delete>
  
  <insert id="insert" parameterType="Member">
  insert into pms2_member(mid,email,pwd) values(#{id},#{email},password(#{password}))
  </insert>
</mapper>