@charset "UTF-8";

div{
	border: 1px solid black;
}
div.container{
	width: 800px;
}
div #main{
    overflow: hidden;
	
}
div #right{
	float: right;

}
div #left{
    width: 300px;
    float: left;
}
div #top{
	overflow: hidden;
}

h5.b{
    border: 1px solid black;
	float: left;
}
a.a{
	border: 1px solid black;
	float: right;
}
