<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.ass.dao.MemberDao"> <!-- 그룹 이름 -->
<!-- 컬럼명과 객체의 프로퍼티 명을 연결한다.
연결 정보(MemberMap)에 따라서 멤버 객체를 만들어서 set id 에다가 호출해서 저장하라는 의미
resultMap -> 태그로 정의한 식별자(id="MemberMap")를 의미함 -->
  <resultMap type="Member" id="MemberMap">
    <id column="mno" property="no"/>
    <result column="mname" property="name"/>
    <result column="email" property="email"/>
    <result column="pwd" property="password"/>
    <result column="phone" property="cellphone"/>
    <result column="tel" property="telephone"/>
    <result column="fax" property="fax"/>
    <result column="memo" property="memo"/>
  </resultMap>
  
  <select id="selectList" resultMap="MemberMap">
    select mname from c_member 
  </select>
  <select id="selectOne" resultMap="MemberMap" parameterType="string">
    select mname, email, phone, tel, fax, memo from c_member where mno=#{value} 
  </select>
</mapper>